.spacer {
    flex: 0.03 1 auto;
  }

  a {
    font-size: 44px;
    transition: 0.4s;
    padding: 8px 24px;
  }

  a:hover {
    background-color: rgb(168, 0, 70)
  }

  .other-buttons a {
    font-size: 22px;
    padding: 6px 12px;
  }