<div class="movieItem">
    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title id="title" class="card-title">{{ movie.title | titlecase }}</mat-card-title>
            <mat-card-subtitle>Czas trwania filmu: {{movie.duration }} min. </mat-card-subtitle>
            <mat-card-subtitle>Godzina rozpoczęcia seansu: {{ screening.hour }}</mat-card-subtitle>
            <mat-card-subtitle>Pokój: {{ screening.roomId }}</mat-card-subtitle>
            <mat-card-subtitle>Ilość wolnych miejsc: {{ room.capacity - screening.taken.length }}/{{ room.capacity }}</mat-card-subtitle>
            <mat-card-subtitle class="ifRunning" *ngIf="checkIfRunning()">AKTUALNIE TRWA!</mat-card-subtitle>
            <img mat-card-xl-image [src]=movie.image>
        </mat-card-title-group>
        <mat-card-actions>
            <button mat-raised-button class="editButton" color="accent">Edytuj</button>
            <button mat-raised-button class="buyButton" color="primary">Kup Bilet</button>
            <span style="width:71px"></span>
        </mat-card-actions>
        <!-- <app-movie-edit *ngIf="showEdit" [movie]="movie" (onMovieSubmit)="updateMovie(movie)"> -->

        <!-- </app-movie-edit> -->
    </mat-card>
</div>